.Gameimg {
  align-items: center;
  display: flex;
}
.Gameimg img {
  width: 20%;
}

.GameSliderContainer img {
  width: 25%;
}
.GameSliderContainer {
  height: 50%;
}
.button-container {
  display: flex;
}

.button-container button {
  margin: 1rem;
  width: 50%;
  height: 80%;
  background-color: #ffd700;
  border-color: #ffd700;
  color: black;
}
.button-container button:hover,
.button-container button:active {
  color: black;
  background-color: #ffd700;
  border: #ffd700;
}

.gameinfo-container {
  color: white;
}
