.form {
  width: 80%;
  max-width: 40rem;
  padding: 3rem;
  margin:auto;
  text-align: center;
  background-color: rgb(60, 60, 60, 0.4);
  border-radius: 10px;
}
.btn {
  width: 50%;
  background-color: inherit;
  border-color: #f4840c;
  color: white;
}
.btn:hover,
.btn:active {
  background-color: #f4840c;
  border-color: #f4840c;
}
.label {
  font-weight: bold;
  color: white;
}
.main-footer {
  text-align: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #808080, #f4840c);
}
.about-container {
  text-align: center;
  width: 50%;
}
.social-icon {
  width: 9%;
  margin: 3%;
  height: 5%;
  align-items: center;
}
.contact-container {
  width: 50%;
  max-width: 40rem;
  padding: 3rem;

  text-align: center;
  border-radius: 10px;
}
.loginpage{
  background-image: url("/public/assets/login_bg.png");
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%; 
  padding:10rem;
}