.home-carousel-container {
  width: 90%;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.carousel-item {
  height: 80vh;
}

@media screen and (max-width: 600px) {
  .carousel-item {
    height: auto;
  }
  .home-carousel-container {
    width: 100%;
  }
}
