.main-header {
  background-color: black;
}

.register-button {
  font: inherit;
  border: 2px solid white;
  background: inherit;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
}
.register-button:hover,
.register-button:active {
  background: #ffd700;
  border-color: #ffd700;
}

.register-button:focus {
  outline: none;
}

.logout-button {
  font: inherit;
  border: 2px solid #ffd700;
  background: inherit;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: inherit;
}

.logout-button:hover,
.logout-button:active {
  background: #ffd700;
  border-color: #ffd700;
}

.logout-button:focus {
  outline: none;
}

.right-header-box {
  align-items: center;
  display: flex;
}
.header-icon {
  width: 2rem;
  height: 2rem;
}
.logo {
  width: 15%;
  height: 15%;
  border-radius: 10px;
  padding: 0;
}
.logo-container {
  padding: 0;
}
