.main-header {
  background-color: black;
}

.register-button {
  font: inherit;
  border: 2px solid white;
  background: inherit;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
}
.register-button:hover,
.register-button:active {
  background: #f4840c;
  border-color: #f4840c;
}

.register-button:focus {
  outline: none;
}
.logout-button {
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: fit-content;

  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.logout-button:hover,
.logout-button:active {
  background-color: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.2);
}

.logout-button:focus {
  outline: none;
}

.right-header-box {
  align-items: center;
  display: flex;
}
.header-icon {
  width: 2rem;
  height: 2rem;
}
.logo {
  width: 20%;
  height: 20%;
  padding: 0;
}
.logo-container {
  padding: 0;
}
