.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #f2f2f2;
  margin-top: 0.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 1rem 0.3rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
}

.control input:focus {
  outline: none;
  border-color: grey;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}
