.card-container {
  margin: auto;
  align-items: center;
  text-align: center;
  background-color: inherit;
  color: black;
}

.card-container a {
  background-color: #f4840c;
  border-color: #f4840c;
  color: black;
}
.card-container a:hover,
.card-container a:active {
  background-color: #ffb743;
  border-color: #f4840c;
  color: black;
}
.card-img {
  height: 20%;
  width: 33%;
}

.card-container a:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
