/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */

.card-img {
  height: 35vh;
  width: 100%;
  vertical-align: middle;
}

.cards_item {
  display: flex;
  padding: 5rem;
  transition: width 1s;
  
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: rgb(50, 12, 0);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  transition: transform 1s;
  margin:1rem;
}
.card:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #2a2404 40%, #fb6304 100%);
  font-family: Quicksand;
}

.card_title {
  font: inherit;
  text-align: center;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.card_text {
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
